<section class="hero is-info is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Welcome to hledger Budget!</h1>
      <p>
        A high-level entry to the world of plain text budgeting and accounting.
      </p>
    </div>
  </div>
</section>

<section class="columns content">
  <article class="column">
    <h2>Getting Started</h2>
    <ul>
      <li> <a href="https://hledger.org/">hledger Guides &amp; Docs</a> </li>
      <li> <a href="https://hledger.org/Budgeting-and-forecasting.html">Budgeting and Forecasting</a> </li>
      <li> <a href="https://hledger.org/hledger-api.html">hledger API</a> </li>
    </ul>
  </article>
  <article class="column">
    <h2>Help</h2>
    <ul>
      <li> <a href="https://elixirforum.com/c/phoenix-forum">Forum</a> </li>
      <li> <a href="https://webchat.freenode.net/?channels=elixir-lang">#elixir-lang on Freenode IRC</a> </li>
    </ul>
  </article>
</section>


<section class="columns content">
  <%= if @msg do %>
    <p><%= @msg %></p>
  <% end %>

  <%= if @accts do %>
    <ul>
      <%= for a <- @accts do %>
        <%= list_account(a) %>
      <% end %>
    </ul>
  <% end %>
</section>
