<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>hledger Budget</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <link rel="icon" href="<%= Routes.static_path(@conn, "/images/cash.png") %>"/>
  </head>
  <body>
    <header>
      <section>
        <nav class="navbar is-dark" role="navigation">
          <div class="container">
            <div class="navbar-brand">
              <a class="navbar-item" src="/"><img src="<%= Routes.static_path(@conn, "/images/cash.svg") %>" alt="Home" /></a>
              <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarMain">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
              </a>
            </div>
            <div id="navbarMain" class="navbar-menu">
              <div class="navbar-start">
                <a class="navbar-item">Home</a>
              </div>
            </div>
          </div>
        </nav>


      </section>
    </header>

    <main role="main" class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= render @view_module, @view_template, assigns %>
    </main>

    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
